# Composer
/vendor/

# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# Gulp
/node_modules/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db
assets/Front.html
front2/front2.html
front2/script2.js
front2/style2.css
