:root .wp-g2-reviews {
	--global-font: georgia, "Times New Roman", Times, serif;
	--rev-container-width: 70%;
	--rev-container-margin-top: 20px;
	--rev-container-margin-bottom: 20px;
	--rev-container-margin-left: auto;
	--rev-container-margin-right: auto;

	--box-style: row wrap;
	/*--box-style: column wrap;*/
	--box-width: 25.5%;
	--box-gap: 20px;
	--box-border: 1px solid #f1f1f1;
	--box-radius: 15px;
	--box-padding: 40px 30px 30px;
	--box-shadow: 0 0 20px 2px #f1f1f1;

	--user-icon-size: 50px;
	--user-icon-background: #ccc;
	--user-icon-shadow-color: green;
	--user-icon-font-family: sans-serif;
	--user-icon-font-size: 30px;
	--user-icon-font-weight: 600;

	--star-color-off: #fff;
	--star-color: rgb(255 73 44);
	--star-color-outline: rgba(0,0,0,0.23);

	--user-name-font-family: sans-serif;
	--user-name-font-size: 16px;

	--user-date-font-family: sans-serif;
	--user-date-font-size: 14px;

	--rev-topic-font-family: inherit;
	--rev-topic-font-size: 20px;
	--rev-topic-font-weight: 600;
	--rev-topic-color: blue;
	--rev-topic-clip-lines: 2;

	--q-font-family: sans-serif;
	--q-font-size: 14px;
	--q-font-weight: 600;

	--a-font-family: system-ui;
	--a-font-size: 14px;
	--a-font-weight: 100;
	--a-clip-lines: 3;
}

.wp-g2-rev-data {
	display: none;
}

.wp-g2-rev-front {
	display: flex;
	flex-flow: var(--box-style);
	font-family: var(--global-font);
	gap: var(--box-gap);
	box-sizing: border-box;
	width: var(--rev-container-width);
	margin: var(--rev-container-margin-top) var(--rev-container-margin-right)
		var(--rev-container-margin-bottom) var(--rev-container-margin-left);
}

.wp-g2-rev-front > div[data-rev] {
	flex: 0 0 var(--box-width);
	border: var(--box-border);
	border-radius: var(--box-radius);
	padding: var(--box-padding);
	box-shadow: var(--box-shadow);
	position: relative;
	overflow: hidden;
}

.rev-verified-user:before {
  content: "Verified User";
  position: absolute;
  top: 50px;
  font-size: 10px;
	color:#fff;
  letter-spacing: 1.1px;
  left: 5px;
  transform: rotate(-45deg);
  transform-origin: left;
	z-index: 2;
}

.rev-verified-user:after {
  content: "";
  position: absolute;
  width: 120px;
  height: 60px;
  background: var(--star-color);
  top: -10px;
  left: -60px;
  transform: rotate(-45deg);
  transform-origin: top;
  z-index: 1;
}

.rev-user-icon {
	display: flex;
	flex-flow:column;
	justify-content: center;
	margin: 0 0 20px;
	position:relative;
	padding-left: calc(var(--user-icon-size) + 10px );
	min-height: var(--user-icon-size);
}

.rev-user-icon > span:first-child {
	position:absolute;
	left:0;
	top:0;
	width: var(--user-icon-size);
	height: var(--user-icon-size);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: var(--user-icon-background);
	border-radius: 50%;
	box-shadow: 0 0 3px 2px var(--user-icon-shadow-color);
	line-height: normal;
	font-family: var(--user-icon-font-family);
	font-size: var(--user-icon-font-size);
	font-weight: var(--user-icon-font-weight);
}

.rev-user-icon > span:first-child img {
	width: 100%;
}

.rev-user-icon > span:nth-child(2) {
	font-family: var(--user-name-font-family);
	font-size: var(--user-name-font-size);
	display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rev-user-icon > time {
	font-family: var(--user-date-font-family);
	font-size: var(--user-date-font-size);
}

.rev-rate {
  position: absolute;
  top: 5px;
  right: 15px;
}

.rev-rate i {
  color: var(--star-color-off);
	-webkit-text-stroke: 1px var(--star-color-outline);
}

.star-1 i:nth-child(1),
.star-1-5 i:nth-child(1),

.star-2 i:nth-child(1),
.star-2-5 i:nth-child(1),
.star-2 i:nth-child(2),
.star-2-5 i:nth-child(2),

.star-3 i:nth-child(1),
.star-3-5 i:nth-child(1),
.star-3 i:nth-child(2),
.star-3-5 i:nth-child(2),
.star-3 i:nth-child(3),
.star-3-5 i:nth-child(3),

.star-4 i:nth-child(1),
.star-4-5 i:nth-child(1),
.star-4 i:nth-child(2),
.star-4-5 i:nth-child(2),
.star-4 i:nth-child(3),
.star-4-5 i:nth-child(3),
.star-4 i:nth-child(4),
.star-4-5 i:nth-child(4),

.star-5 i:nth-child(1),
.star-5 i:nth-child(2),
.star-5 i:nth-child(3),
.star-5 i:nth-child(4),
.star-5 i:nth-child(5){
	color: var(--star-color);
}

.star-1-5 i:nth-child(2),
.star-2-5 i:nth-child(3),
.star-3-5 i:nth-child(4),
.star-4-5 i:nth-child(5) {
  background: linear-gradient(to right, var(--star-color) 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.rev-rate i:before {
  content: "★";
  font-style: normal;
  font-size: 22px;
  color: inherit;
}

.rev-topic {
	font-family: var(--rev-topic-font-family);
	font-size: var(--rev-topic-font-size);
	font-weight: var(--rev-topic-font-weight);
	color: var(--rev-topic-color);
	/*margin: 0 0 10px calc(var(--user-icon-size) + 10px);*/
	margin: 0 0 20px;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: var(--rev-topic-clip-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: 2em;
}
.rev-q {
	font-family: var(--q-font-family);
	font-size: var(--q-font-size);
	font-weight: var(--q-font-weight);
	line-height: 1.2em;
	margin: 20px 0 5px;
}
.rev-a {
	font-family: var(--a-font-family);
	font-size: var(--a-font-size);
	font-weight: var(--a-font-weight);
	line-height: 1.2em;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: var(--a-clip-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: calc(1.2em * var(--a-clip-lines));
}
