:root .wp-g2-reviews {
	--global-font: inherit;
	--rev-container-width: 100%;
	--rev-container-margin-top: 20px;
	--rev-container-margin-bottom: 20px;
	--rev-container-margin-left: auto;
	--rev-container-margin-right: auto;

	--box-style: row wrap;

	/*--box-style: column wrap;*/
	--box-number: 3;
	--box-width:
		calc((100% / var(--box-number)) +
		(var(--box-gap) / var(--box-number)) -
		var(--box-gap));
	--box-gap: 20px;
	--box-border: 1px solid #bfbfbf;
	--box-radius: 10px;
	--box-padding: 15px;
	--box-shadow: 0 0 5px #c3c3c3;
	--box-background: #fff;

	--user-icon-size: 50px;
	--user-icon-background: #ccc;
	--user-icon-shadow-color: #080;
	--user-icon-font-family: sans-serif;
	--user-icon-font-size: 30px;
	--user-icon-font-weight: 600;

	--star-color-off: #fff;
	--star-color: rgb(255 73 44);
	--star-color-outline: rgba(0, 0, 0, 0.23);

	--user-name-font-family: sans-serif;
	--user-name-font-size: 16px;
	--user-name-font-weight: 700;

	--user-date-font-family: inherit;
	--user-date-font-size: 12px;
	--user-date-font-weight: normal;
	--user-date-color: #888;

	--rev-topic-font-family: inherit;
	--rev-topic-font-size: 16px;
	--rev-topic-font-weight: 600;
	--rev-topic-letter-spacing: 0;
	--rev-topic-color: #246f9e;
	--rev-topic-clip-lines: 2;

	--qa-height: 240px;

	--q-font-family: sans-serif;
	--q-font-size: 14px;
	--q-font-weight: 600;

	--a-font-family: system-ui;
	--a-font-size: 14px;
	--a-font-weight: 400;
	--a-clip-lines: 3;
}

.wp-g2-rev-front {
	display: flex;
	flex-flow: var(--box-style);
	font-family: var(--global-font);
	gap: var(--box-gap);
	width: var(--rev-container-width);
	margin:
		var(--rev-container-margin-top) var(--rev-container-margin-right)
		var(--rev-container-margin-bottom) var(--rev-container-margin-left);
	box-sizing: border-box;
}

.wp-g2-rev-front * {
	box-sizing: border-box;
}

.wp-g2-rev-front > div {
	width: var(--box-width);
	border: var(--box-border);
	border-radius: var(--box-radius);
	padding: var(--box-padding) calc(var(--box-padding) * 1);
	box-shadow: var(--box-shadow);
	background: var(--box-background);
	position: relative;
	overflow: hidden;
	min-width: 280px;
}

div[class*="widget"] .rev-user {
	width: 100%;
}

@media (min-width: 992px) {

	.rev-user::after {
		content: "";
		height: calc(100% - 110px);
		width: 15px;
		position: absolute;
		bottom: var(--box-padding);
		right: 12px;
		background: linear-gradient(to left, #fff 60%, transparent);
		transition: all 250ms 500ms ease;
	}

	.rev-user:hover::after {
		width: 0;
		transition: all 250ms ease;
	}
}

.rev-user-icon {
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin: 0 0 10px;
	position: relative;
	padding-left: calc(var(--user-icon-size) + 10px);
	min-height: calc(var(--user-icon-size) + 32px);
}

.rev-user-icon > span.user-image {
	position: absolute;
	left: 0;
	top: calc(50% - (var(--user-icon-size) / 2));
	width: var(--user-icon-size);
	height: var(--user-icon-size);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: var(--user-icon-background);
	border-radius: 50%;
	box-shadow: 0 0 3px 2px var(--user-icon-shadow-color);
	line-height: normal;
	font-family: var(--user-icon-font-family);
	font-size: var(--user-icon-font-size);
	font-weight: var(--user-icon-font-weight);
	overflow: hidden;
}

.rev-user-icon > span.user-image img {
	width: 100%;
}

.rev-user-icon > span.user-name {
	font-family: var(--user-name-font-family);
	font-size: var(--user-name-font-size);
	line-height: 1.2;

	/*
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
*/
	font-weight: var(--user-name-font-weight);
	padding-top: 2px;
}

.rev-user-icon .user-name i {
	background: #006400;
	border-radius: 50%;
	display: inline-block;
	width: 13px;
	height: 13px;
	position: relative;
	left: 3px;
	top: 2px;
}

.rev-user-icon .user-name i::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 2px;
	width: 3px;
	height: 7px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
}

.rev-user-icon .user-name i::after {
	content: "Verfied User";
	position: absolute;
	top: 17px;
	right: 18px;
	overflow: hidden;
	font-size: 10px;
	background: #fff;
	height: 0;
	width: 0;
	padding: 0;
	border-radius: 2px;
	box-shadow: 0 0 2px;
	opacity: 0;
	transition: opacity 250ms 500ms ease, height 0s 500ms linear, width 0s 500ms linear, padding 0s 500ms linear;
}

.rev-user-icon .user-name i:hover::after {
	height: 22px;
	width: 75px;
	padding: 2px 7px;
	opacity: 1;
	transition: opacity 250ms ease;
}


.rev-user-icon > time {
	font-family: var(--user-date-font-family);
	font-size: var(--user-date-font-size);
	font-weight: var(--user-date-font-weight);
	letter-spacing: 1px;
	color: var(--user-date-color);
}

.rev-rate {
	line-height: 1;
}

.rev-rate[class*="star"] i {
	color: var(--star-color-off);
	-webkit-text-stroke: 1px var(--star-color-outline);
	margin-right: -3px;
}

.star-1 i:nth-child(1),
.star-1-5 i:nth-child(1),
.star-2 i:nth-child(1),
.star-2-5 i:nth-child(1),
.star-2 i:nth-child(2),
.star-2-5 i:nth-child(2),
.star-3 i:nth-child(1),
.star-3-5 i:nth-child(1),
.star-3 i:nth-child(2),
.star-3-5 i:nth-child(2),
.star-3 i:nth-child(3),
.star-3-5 i:nth-child(3),
.star-4 i:nth-child(1),
.star-4-5 i:nth-child(1),
.star-4 i:nth-child(2),
.star-4-5 i:nth-child(2),
.star-4 i:nth-child(3),
.star-4-5 i:nth-child(3),
.star-4 i:nth-child(4),
.star-4-5 i:nth-child(4),
.star-5 i:nth-child(1),
.star-5 i:nth-child(2),
.star-5 i:nth-child(3),
.star-5 i:nth-child(4),
.star-5 i:nth-child(5) {
	color: var(--star-color);
}

.star-1-5 i:nth-child(2),
.star-2-5 i:nth-child(3),
.star-3-5 i:nth-child(4),
.star-4-5 i:nth-child(5) {
	background: linear-gradient(to right, var(--star-color) 50%, #fff 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.rev-rate[class*="star"] i::before {
	content: "★";
	content: "★";
	font-style: normal;
	font-size: 22px;
	color: inherit;
}

.rev-topic {
	font-family: var(--rev-topic-font-family);
	font-size: var(--rev-topic-font-size);
	font-weight: var(--rev-topic-font-weight);
	letter-spacing: var(--rev-topic-letter-spacing);
	color: var(--rev-topic-color);
	margin: 0;
	display: block;

	/*
  display: -webkit-box;
	-webkit-line-clamp: var(--rev-topic-clip-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
  */
	line-height: 1.3;
}

.rev-topic::first-letter {
	text-transform: capitalize;
}

.rev-qa-scroll {
	overflow: auto;
	max-height: var(--qa-height);
	padding-right: 5px;
	scrollbar-width: thin;
	margin: 5px 0;
}

div[class*="widget"] .rev-qa-scroll {
	max-height: 120px;
}

.rev-qa-scroll::-webkit-scrollbar {
	width: 0.2em;
}

.rev-qa-scroll::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.rev-qa-scroll::-webkit-scrollbar-thumb {
	background-color: #a9a9a9;
	outline: 1px solid #a9a9a9;
}

.rev-q {
	font-family: var(--q-font-family);
	font-size: var(--q-font-size);
	font-weight: var(--q-font-weight);
	line-height: 1.2;
	margin: 10px 0 5px;
}

.rev-a {
	font-family: var(--a-font-family);
	font-size: var(--a-font-size);
	font-weight: var(--a-font-weight);
	line-height: 1.2;
	display: block;

	/*
	display: -webkit-box;
	-webkit-line-clamp: var(--a-clip-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: calc(1.2em * var(--a-clip-lines));
	*/
}

@media (max-width: 599px) {

	.wp-g2-rev-front {
		flex-flow: column;
	}

	.wp-g2-rev-front > div {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
	}

	.wp-g2-rev-front > div:nth-child(2):nth-last-child(1) .rev-qa-scroll,
	.wp-g2-rev-front > div:nth-child(2):nth-last-child(2) .rev-qa-scroll,
	.wp-g2-rev-front > div:nth-child(3):nth-last-child(1) .rev-qa-scroll {
		max-height: inherit;
	}
}
